#navigation {
  background-color: white;
  border: white;
  font-weight: 500;
  font-size: 15px;
  margin: 0px;
  position: relative;
  overflow-x: hidden; }
  #navigation .navbar-toggle {
    background-color: white;
    float: left;
    margin-left: 15px;
    border-style: none; }
  #navigation .navbar-right {
    margin-right: 10vh; }
  #navigation .active a {
    border-bottom: solid #F56D45;
    background-color: white; }
  #navigation a {
    color: #727272; }
    #navigation a:hover {
      background-color: #F56D45;
      color: white; }

@media (max-width: 1000px) {
  #navigation .navbar-toggle {
    background-color: white;
    float: left;
    margin-left: 15px;
    border-style: none;
    display: block; }
  #navigation .navbar-right {
    margin-right: 10vh; }
  #navigation .navbar-collapse.collapse {
    display: none !important;
    height: auto !important;
    overflow: visible !important; }
  #navigation .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }
    #navigation .navbar-nav > li {
      float: none; }
      #navigation .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px; }
  #navigation .collapse.in {
    overflow-x: hidden;
    display: block !important;
    margin-left: 10vw; }
  #navigation .collapsing {
    overflow-x: hidden;
    margin-left: 10vw; } }

@media (max-width: 1000px) and (max-width: 600px) {
  #navigation .collapse.in {
    overflow-x: hidden;
    margin-left: 15vw; }
  #navigation .collapsing {
    overflow-x: hidden;
    margin-left: 15vw; } }

#aboutbody {
  background-image: url("../../assets/images/first.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1; }

#image {
  height: 25vh;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 17vh; }

#header {
  color: white;
  font-family: serif;
  font-weight: 600;
  text-align: center;
  display: block;
  margin: auto; }

#head1 {
  color: #00e2ff;
  text-shadow: 1px 1px 15px #000000; }

#content {
  font-weight: 200;
  font-size: 15px;
  text-shadow: 1px 1px 15px #000000; }

#direction {
  position: absolute;
  bottom: 0px;
  left: 50vw;
  color: #00e2ff;
  text-shadow: 0px 1px 15px #000000;
  cursor: pointer; }

.circle-icon {
  padding: 25px; }

#header .btn-default {
  color: white;
  border-color: transparent;
  background-color: #00e2ff;
  text-shadow: 0px 1px 15px #000000;
  box-shadow: 1px 1px 15px #000000;
  font-size: 18px; }

@media (max-width: 768px) {
  #header {
    font-size: 20px; }
  #content {
    font-size: 12px; } }

#achievementcontent {
  border-radius: 25px;
  border: 2px solid #727272;
  padding: 20px;
  width: 90%;
  position: absolute;
  top: 15vh;
  left: 5vw; }

#achievementcontent {
  overflow-y: auto;
  height: 70vh; }

#heading {
  text-align: center;
  padding-bottom: 5px;
  font-size: 20px; }

#achievement {
  display: block;
  margin: auto;
  width: 100%;
  height: 60vh; }

#resumecontent {
  border-radius: 25px;
  border: 2px solid #727272;
  padding: 20px;
  width: 90%;
  position: absolute;
  top: 15vh;
  left: 5vw; }

#resumebody {
  overflow-y: auto;
  height: 70vh; }

#resume {
  display: block;
  margin: auto;
  width: 100%;
  height: 70vh; }

#workcontent {
  border-radius: 25px;
  border: 2px solid #727272;
  padding: 20px;
  width: 90%;
  position: absolute;
  top: 15vh;
  left: 5vw; }

h3 {
  text-decoration: underline; }

#workbody {
  overflow-y: auto;
  height: 70vh; }

#spinner {
  width: 10%;
  margin: auto;
  margin-top: 30vh; }

@media (max-width: 750px) {
  #spinner {
    width: 20%; } }

::-webkit-scrollbar {
  width: 9px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #727272;
  -webkit-box-shadow: inset 0 0 6px #727272; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #727272; }
