// -----[ Color Palette ]-------------------------------------------------------
$orange : #F56D45;
$white : white;
$lightblue : #00e2ff;
$black : #000000;
$grey : #727272;

#navigation {
	background-color: $white;
	border: $white;
	font-weight: 500;
	font-size: 15px;
	margin: 0px;
	position: fixed;
	overflow-x: hidden;
	.navbar-toggle{
		background-color: $white;
		float: left;
		margin-left: 15px;
		border-style: none;
	}
	.navbar-right{
		margin-right: 10vh;
	}
	.active a{
		border-bottom: solid $orange;
		background-color: $white;
	}
	a {
		color: $grey;
		&:hover {
		    background-color: $orange;
		    color: $white;
		    cursor : pointer;
		}
	}
}


@media (max-width: 1000px) {
	#navigation{
		.navbar-toggle{
			background-color: $white;
			float: left;
			margin-left: 15px;
			border-style: none;
			display: block;
		}
		.navbar-right{
			margin-right: 10vh;
		}
		.navbar-collapse.collapse {
	        display: none!important;
	        height: auto !important;
	    	overflow: visible !important;
	    }
	    .navbar-nav {
	        float: none!important;
	        margin: 7.5px -15px;
	    
		    &>li {
		        float: none;
		    
			    &>a {
			        padding-top: 10px;
			        padding-bottom: 10px;
			    }
		    }
	    }
	    .collapse.in{
	    	overflow-x: hidden;
	      	display:block !important;
	      	margin-left: 10vw;
	  	}
	  	.collapsing{
	  	  overflow-x: hidden;
	      margin-left: 10vw;
	  	}
	}
  	@media (max-width: 600px){
	  	#navigation {
		  	.collapse.in{
		  		overflow-x: hidden;
		      	margin-left: 15vw;
		  	}
		  	.collapsing{
		  		overflow-x: hidden;
		      	margin-left: 15vw;
		  	}
		}
  	}
}