body {
	background-image: url("../images/first.png");
    background-size: 100% 90vh;
    background-repeat: no-repeat;
}
#navigation {
	background-color: white;
	border: white;
	font-weight: 500;
	font-size: 15px;


	.navbar-toggle{
		background-color: white;
		float: left;
		margin-left: 15px;
		border-style: none;
	}
	.navbar-right{
		margin-right: 10vh;
	}
	.active a{
		border-bottom: solid #F56D45;
		background-color: white;
	}
	a {
		color: #727272;
		&:hover {
		    background-color: #F56D45;
		    color: white;
		}
	}
}

@media (max-width: 1000px) {
	#navigation{
		.navbar-toggle{
			background-color: white;
			float: left;
			margin-left: 15px;
			border-style: none;
			display: block;
		}
		.navbar-right{
			margin-right: 10vh;
		}
		.navbar-collapse.collapse {
	        display: none!important;
	        height: auto !important;
	    	overflow: visible !important;
	    }
	    .navbar-nav {
	        float: none!important;
	        margin: 7.5px -15px;
	    
		    &>li {
		        float: none;
		    
			    &>a {
			        padding-top: 10px;
			        padding-bottom: 10px;
			    }
		    }
	    }
	    .collapse.in{
	      	display:block !important;
	      	margin-left: 10vw;
	  	}
	  	.collapsing{
	      margin-left: 10vw;
	  	}
	}
  	@media (max-width: 600px){
	  	#navigation {
		  	.collapse.in{
		      	margin-left: 15vw;
		  	}
		  	.collapsing{
		      	margin-left: 15vw;
		  	}
		}
  	}
}