#achievementcontent{
    border-radius: 25px;
    border: 2px solid $grey;
    padding: 20px;
    width: 90%;
    position: absolute;
    top: 15vh;
    left: 5vw;
}

#achievementcontent{
    overflow-y: auto;
    height: 70vh;
}

#heading{
	text-align : center;
	padding-bottom: 5px;
	font-size: 20px;
}

#achievement{
	display: block;
    margin: auto;
    width: 100%;
    height: 60vh;
}