#resumecontent{
	border-radius: 25px;
    border: 2px solid $grey;
    padding: 20px;
    width: 90%;
    position: absolute;
    top: 15vh;
    left: 5vw;
}

#resumebody{
	overflow-y: auto;
	height: 70vh;
}

#resume{
	display: block;
    margin: auto;
    width: 100%;
    height: 70vh;
}